Map {
    // `story(id: "1")`
    1: Map {
        author: Link(2),
        comments: [Link(3)],
    },
    // `story.author`
    2: Map {
        name: 'Yuzhi',
        photo: 'http://.../photo1.jpg',
    },
    // `story.comments[0]`
    3: Map {
        author: Link(2),
    },
}