// REST
fetch('/posts')
.then(parseJSON)
.then(posts => Promise.all(
  posts.map(
    post => fetch(post.href)
      .then(parseJSON)
  )
))
.then(posts => { ... });

// GraphQL
graphql.get(
  `query { posts { id, title, content } }`
)
.then(posts => { ...});